.login(ng-show="showLogin")
    .wrapper
        input(type="text", placeholder="Enter your name", ng-model="user.name", fg-enter="submit()")
        button(ng-click="showLogin = false") Cancel
        button(ng-click="submit()") Login
        section.messages
            .message(ng-repeat="error in errors") {{error.text}}