doctype 5
html(ng-app='flatGames')
    head
        title= title
        link(rel='stylesheet', href='/css/global.css')
    body
        .ng-view
        script(src='/socket.io/socket.io.js')
        script(src='/js/lib/angular/angular.min.js')
        script(src='/js/app.js')