doctype 5
html(ng-app='#{angularApp}')
    head
        title Flat Games Simulator 5000
        link(rel='stylesheet', href='/css/global.css')
    body
        .ng-view
        script(src='/socket.io/socket.io.js')
        script(src='/js/lib/angular/angular.min.js')
        script(src='/js/lib/angular/angular-route.min.js')
        - each script in scripts
            script(src=script)